/* BUTTONS ------- */
/* .cart-button-container {

} */

.cart-button {
    width: 30px;
    height: 30px;

}

.cart-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.cart-button:active {
    padding: 1px;
}

.empty-cart-button {
    padding: 7px 7px;
}

/* PRODUCTS ------- */

.product {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0 140px;
    padding: 30px 0;
    border-bottom: 1px solid rgb(81, 63, 63);
}

.product-image {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(184, 135, 37);
}

.product-image:hover {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(184, 135, 37);
}

.product-name {
    width: 200px;
    height: 5%;
    padding: 5.5px 5px;
    text-align: center;
}

.product-price {
    width: 200px;
    height: 5%;
    padding: 5.5px 5px;
    text-align: center;
    color: rgb(254, 255, 253);
    letter-spacing: 1.5px;
    font-weight: 100;
}

.product-quantity {
    width: 80px;
    height: 38px;
    padding: 2.5px 1px;
    text-align: left;
    letter-spacing: normal;
}


/* CART TOP BOTTOM ------- */

.cart-top {
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 300;

}

.cart-bottom {
    color: rgb(242, 242, 247);
    text-align: right;
    margin-right: 10%;
    font-weight: 600;
    font-size: 20px;
}