@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Overall container styles */
.webshop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.product-card {
    width: calc(25% - 2%);
    border-radius: 4% 4%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(255, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

@media (max-width: 992px) {

    /* responsive styles for smaller screens */
    .product-card {
        width: calc(33.33% - 2%);
    }
}

@media (max-width: 768px) {

    /* responsive styles for even smaller screens */
    .product-card {
        width: calc(50% - 2%);
    }
}

.product-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
}

/* Product image styles */
.product-image {
    width: 100%;
    height: 300px;
    /* increased the height */
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Product details styles */
.product-details {
    padding: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #0a26df;
    margin-bottom: 10px;
}

/* Add to cart button styles */
.add-to-cart-btn {
    width: 100%;
    background-color: #de662aef;
    color: rgb(238, 230, 230);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #e53935;
}