@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



.webshop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

.product-card {
    width: 345px;
    height: 600px;
    margin: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 5px #ccc;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.product-card:hover {

    height: 570px;
}

.p-image {
    width: 220px;
    height: 220px;
    border: 2px ridge rgba(0, 0, 0, 0.799);
    border-radius: 1%;
}

.p-name,
.p-description {
    margin: 10px 0;
    color: black;
}

.p-category {
    padding: 1px 100px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.p-price {
    margin: 1px 100px;
    font-size: larger;
}

.p-availability {
    margin: 1px 100px;
    padding: 10px;
    font-size: medium;
    color: rgb(208, 138, 17);
}

.p-info {

    margin: 1px 0;
    padding: 10px;
    background-color: rgb(90, 166, 204);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.p-add-cart {
    margin: 1px 0;
    padding: 10px;
    background-color: rgb(180, 103, 16);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.p-add-cart:hover {
    margin: 1px 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(217, 110, 23);
}


.p-info:hover {
    margin: 1px 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(37, 154, 213);

}

@media only screen and (max-width: 600px) {
    .product-card {
        width: 90%;
        height: auto;
    }
}