.copyright {
    border: rgba(203, 15, 15, 0) solid 1px;
    text-align: center;
    padding: 30px 0;
    color: rgb(240, 248, 255);
}

.myhomepage {
    border: rgba(203, 15, 15, 0) solid 1px;
    text-align: center;
    padding: 30px 0;
    color: aliceblue;
}

.my-name {
    font-size: 132px;
    font-variant: small-caps;
    margin-bottom: 20px;
    color: rgb(240, 248, 255);
}

.welcome-message {
    font-size: 32px;
    font-variant: small-caps;
    margin-bottom: 20px;
    color: aliceblue;
}

.introduction {
    font-size: 18px;
    color: aliceblue;
}